#sidebar{
    width: 25%;
    position: absolute;
    height: -webkit-fill-available;
    overflow: scroll;
}
#content{
    margin-left: 25%;
    position: absolute;
    padding-left: 15px;
}
