#sidebar{
    width: 20%;
    position: absolute;
    height: -webkit-fill-available;
    overflow: scroll;
    
    padding-left: 20px;
    margin-left: 0px;
    border-left: 0px;
    padding-right: 20px;
}

#sidebar .rpgui-content h2{
    text-align: left;   
}
#sidebar .rpgui-content ul{
    padding-left: 0px;
}

#content{
    margin-left: 20%;
    position: absolute;
    padding-left: 15px;
    width: 80%;
    overflow: scroll;
    height: -webkit-fill-available;
}

// Additional RPGUI elements
table, th, td {
    color: white;
    border-color: white;
    border-style: solid;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    text-align: center
}
td {
    border-width: 2px 2px 2px 2px;
    padding: 4px;
}
table {
    margin: 0 auto; // Center
    border-spacing: 0px;
}

img {
    display: block;
    margin: 0 auto;
}

#sidebar .rpgui-container h2{
    text-align: left;
}
blockquote{
    border: 3px solid grey;
    padding: 20px;
    border-style: inset;
}
