<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- RPG Style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/RonenNess/RPGUI/dist/rpgui.min.css">
    <script SRC="https://cdn.jsdelivr.net/gh/RonenNess/RPGUI/dist/rpgui.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/BansheeRPG/assets/css/styles.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <div class="rpgui-content">
      <div id="sidebar" class="rpgui-container framed-golden">
        {% include sidebar.html %}
      </div>
      <div id="content" class="rpgui-container framed">
        {{ content }}
      </div>
    </div>
  </body>
</html>
